<div class="float-left">
  <div class="card" style="width: 180px;">
    <div class="card-divider">Options</div>
    <div class="card-section">
      <ul class="accordion" data-accordion>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Distance Weight</a>
          <div class="accordion-content" data-tab-content>
            <p>Panel 1. Lorem ipsum dolor</p>
            <a href="#">Nowhere to Go</a>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="" class="accordion-title">User List</a>
          <div class="accordion-content" data-tab-content>
            <p>working</p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="" class="accordion-title">Chart Type List</a>
          <div class="accordion-content" data-tab-content>
            <p>working</p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="" class="accordion-title">Attribute List</a>
          <div class="accordion-content" data-tab-content>
            <p>working</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>