<script src="lib/foundation/js/vendor/foundation.js"></script>
<script src="lib/foundation/js/app.js"></script>
<!-- <div class="row"> -->
<div class="grid-container grid-container-padded">
  <div class="grid-y">
    <div class="cell">
      <div class="card">
        <div class="card-divider">Options</div>
        <div class="card-section">
          <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
              <a href="" class="accordion-title">Data Coverage Board</a>
              <div class="accordion-content" data-tab-content>
                <div class="grid-container">
                  <div class="grid-y">
                    <div class="cell">
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="" class="accordion-title">Cluster Board</a>
              <div class="accordion-content" data-tab-content>
                <p>working</p>
              </div>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </div>
</div>