<script src="lib/foundation/js/vendor/foundation.js"></script>
<script src="lib/foundation/js/app.js"></script>
<div class="grid-container grid-container-padded full">
  <div class="grid-y">
    <div class="cell">
      <div class="card">
        <div class="card-divider">Options</div>
        <div class="card-section">
          <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
              <a href="" class="accordion-title">Data Coverage Board</a>
              <div class="accordion-content" data-tab-content>
                <div class="grid-container">
                  <div class="grid-y">
                    <div class="cell">
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="" class="accordion-title">Cluster Board</a>
              <div class="accordion-content" data-tab-content>
                <div class="grid-container">
                  <div class="grid-y">
                    <div class="cell" ng-repeat="cluster in clusterBoard">
                      <h6 class="subheader" ng-mouseover="highlightCluster($index)" ng-mouseleave="removeCss($index)">Cluster: {{$index + 1}}</h6>
                      <p class="font-chart"><strong>Users:</strong> <span ng-repeat="userName in cluster.users.Users">{{userName}}
                          <span ng-if="$index < cluster.users.Users.length - 1">,</span>
                        </span>
                      </p>
                      <p class="font-chart"><strong>Attributes:</strong> <span ng-repeat="attribute in cluster.users.Attributes">{{attribute}}
                          <span ng-if="$index < cluster.users.Attributes.length - 1">,</span>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </div>
</div>