.menu {
  background: #333;
}

.menu a {
  color: white;
  font-family: Verdana;
}

.menu li:hover {
  background-color: gray;
}

.left-input {
  height: 1rem;
  width: 3rem;
  margin-left: 2rem;
  font-size: 0.6rem;
  margin-top: -20px;
}

.left-p {
  font-size: 0.8rem;
}

.button-left-custom {
  font-family: Verdana;
  background-color: black;
}

.svg-custom {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.font-chart {
  font-family: Verdana;
  font-size: 10px;
}

.image-view-img {
  height: 20rem;
}

#main .ui-selecting {
  background: #ccc;
}

#main .ui-selected {
  background: #999;
}
