.menu {
  background: #333;
}

.menu a {
  color: white;
  font-family: Verdana;
}

.menu li:hover{
  background-color: gray;
}

.left-input{
    height: 2rem;
    width: 5rem;
    margin: 1rem;
}

.left-p{
  font-size: 0.8rem;
}
